extends layout

block content
    div
        h1 輸入想要縮短的網址及有效日期
        input(type="text" placeholder="" value="" id="url")
        input(type="date" id="expireDate")
        button(onclick = "shortenFunction()") 送出
        h2 以下是短網址
        a(id="shortenUrl")
    script.
        let url = document.getElementById('url');
        let shortenBtn = document.getElementById('url');
        let shortenUrl = document.getElementById('shortenUrl');

        function shortenFunction() {
            const xhr = new XMLHttpRequest();
            let url = document.getElementById('url');
            let expireDate = document.getElementById('expireDate');
            let shortenBtn = document.getElementById('url');
            let shortenUrl = document.getElementById('shortenUrl');

            xhr.open('POST', `/shortenUrls`);
            xhr.setRequestHeader('Content-type', 'application/json');
            let data = {
              url: url.value,
              expireDate: expireDate.value,
            };
            xhr.send(JSON.stringify(data));
            xhr.onload = () => {
              let response = JSON.parse(xhr.response);
              let responseUrl = response.data.shortenUrl;
              shortenUrl.innerText = `${responseUrl}`;
              shortenUrl.href = `${responseUrl}`;
            }
        }